<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaAccesoDatos.Properties.Settings.Soda_QuinchoConnectionString"
            connectionString="Data Source=DESKTOP-A5SQBIB;Initial Catalog=Soda_Quincho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>